
/* Pour transformer les listes numérotées en questions  */

.rst-content ol.arabic > li {
	counter-increment: question; /* on incrémente le compteur à chaque nouveau li */
	margin-bottom: 1rem;
	list-style: none;
}

.rst-content ol.arabic > li:before {
  content: "Question "counter(question) ". ";
  font-weight: bold;
}

h1, h2{
    counter-reset: question;
}



